<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.kpi.ecampus">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="ua.kpi.ecampus.CampusApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_dark"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ua.kpi.ecampus.ui.activity.MainNotAuthActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="ua.kpi.ecampus.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name="ua.kpi.ecampus.ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="ua.kpi.ecampus.ui.activity.BulletinBoardActivity"
            android:parentActivityName="ua.kpi.ecampus.ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="ua.kpi.ecampus.ui.activity.BulletinContentActivity"
            android:parentActivityName="ua.kpi.ecampus.ui.activity.BulletinBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <provider
            android:name="ua.kpi.ecampus.database.ApiContentProvider"
            android:authorities="com.kpi.campus.database.contentprovider"
            android:exported="false"/>

        <activity
            android:name="ua.kpi.ecampus.ui.activity.AddBulletinActivity"
            android:parentActivityName="ua.kpi.ecampus.ui.activity.BulletinBoardModeratorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name="ua.kpi.ecampus.ui.activity.BulletinBoardModeratorActivity"
            android:parentActivityName="ua.kpi.ecampus.ui.activity.BulletinBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="ua.kpi.ecampus.ui.activity.EditBulletinActivity"
            android:parentActivityName="ua.kpi.ecampus.ui.activity.BulletinBoardModeratorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="ua.kpi.ecampus.ui.activity.VotingStudentActivity"
            android:parentActivityName="ua.kpi.ecampus.ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>



        <activity
            android:name="ua.kpi.ecampus.ui.activity.RateTeacherActivity"
            android:parentActivityName="ua.kpi.ecampus.ui.activity.VotingStudentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>
</manifest>
